.data-container{
    overflow: scroll;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.data-table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}
.data-table thead{
    position: sticky;
    top: 0;
    z-index: 1;
}
.data-table th{
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}
.data-table td{
    border: 1px solid #ccc;
    padding: 5px;
    vertical-align: top;

}

.data-table td[rowspan] div{
    position: sticky;
    /* topはtheadの高さ + 10px */
    top: 40px;
    z-index: 0;
